/* 900px */

@media (max-width: 900px){
  header ul{
    gap: 15px;
    width: auto;
  }
  .menu{
    width: auto;
  }
  .home{
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 150px;
  }
  .home .description{
    max-width: 85%;
  }
  .home .images{
    max-width: 90%;
  }
  .author{
    width: 80%;
  }
  .author img{
    width: 36.59px;
    height: 36.59px;
  }
  .author .name{
    font-size: 12px;
  }
  .author .profession{
    font-size: 10px;
  }
  .author .designed{
    font-size: 18px;
    max-width: 210px;
  }
}

/* 550px */

@media (max-width: 550px){
  .hamburguer, .close{
    display: flex;
    cursor: pointer;
  }
  body{
    padding: 5%;
  }
  .home{
    align-items: normal;
  }
  .home .description{
    gap: 20px;
  }
  .home .description p{
    line-height: 17.07px;
    font-weight: 400;
    font-size: 14px;
    max-width: 250px;
  }
  .home .description h1{
    font-size: 36px;
  }
  .home .images{
    max-width: 100%;
  }
  .read-more a{
    font-size: 14px;
  }
  .author{
    gap: 10px;
    padding: 15px;
    padding-bottom: 25px;
    max-width: 70%;
  }
  .menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 3%;
    background-color: #181719;
    z-index: 5;
    opacity: 0;
    visibility: hidden;
  }
  header ul{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 50px;
  }
  .close{
    justify-content: flex-end;
  }
  .visible{
    opacity: 1;
    visibility: visible;
  }
}